<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ruby Beauty</title>
	<link rel="stylesheet" href="../CSS/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    
    <!--Navigation-->
    <input type="checkbox" id="nav-toggle">
    <div id="wrapper">
  
    <header>
        <div class="logo-container">
            <i class="fa fa-diamond"></i>
            <h1>Ruby Beauty</h1>
        </div>  
        <label for="nav-toggle"><i class="fa fa-bars"></i></label>
    </header>
    
    <nav>
        <ul class="ul1">
            <li id="show"><a href="#"><i class="fa fa-diamond">  HOME</i></a></li>        
            <li class="hide"><a href="#"><i class="fa fa-diamond">  PRODUCTS</i></a></li>
            <li class="hide"><a href="#"><i class="fa fa-diamond">  CHECKOUT</i></a></li>
        </ul>
    </nav>

    </div>
    
    <!--Hero Image-->
    <section class="mySection">
        <h1>Welcome to all you <span>makeup</span> lovers!</h1>
        <img src="https://images8.alphacoders.com/531/531380.jpg" alt="hero image">
        <h3>"May your foundation match your neck, concealer be creasless and winged eyeliner be sharp enough to kill. <span>AMEN!!!</span>"</h3>
    </section>
    <br>

    <!--Products-->
    <div id="rubyProducts">
    </div>

    <br>
    <br>
    <br>
    <br>

    <script type="text/javascript" src="../scripts/index.js"></script>

</body>
</html>